
// Font family
$montserrat: 'Montserrat';
$raleway: 'Raleway';

//FontWeight
$fw-thin: 100;
$fw-ultra-light: 200;
$fw-light: 300;
$fw-normal: 400;
$fw-regular: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-black: 900;

// Colors
$white: white;
$light-grey:  #bec0c4;
$grey: #7c7f87;
$dark:  #282d3b;
$blue: #1cb8ff;

